aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.7
aiosignal==1.3.1
attrs==24.2.0
Brotli==1.1.0
frozenlist==1.5.0
humanize==4.2.3
idna==3.10
multidict==6.1.0
multivolumefile==0.2.3
propcache==0.2.0
psutil==6.1.0
py7zr==0.18.12
pyaes==1.6.1
pybcj==1.0.2
pycryptodomex==3.21.0
pymediainfo-pyrofork==6.0.2
pypdl==1.4.4
pyppmd==0.18.3
pyrofork==2.3.50
Pyrogram==2.0.106
pyromod==1.5
PySocks==1.7.1
python-dotenv==1.0.1
pyzstd==0.16.2
texttable==1.7.0
TgCrypto-pyrofork==1.2.7
yarl==1.18.0
zipfile-deflate64==0.2.0
